
body {
background-color: #f4f4f4;
color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.5em;
background:  url("hms.png") no-repeat left top;
    margin-right: 200px;
}
a { text-decoration: none; }
h1 { font-size: 1em; }
h1, p {
margin-bottom: 10px;
color:red;
}
strong {
font-weight: bold;
color:red;
}
.uppercase { text-transform: uppercase; }

/* ---------- LOGIN ---------- */
#login {
margin: 250px auto;
width: 500px;
margin-right:50%;
margin-top:20%;
background-color:gray;
}
form  input[type="text"], input[type="password"] {
background-color: #e5e5e5;
border: solid;
border-radius: 3px;

color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 14px;
height: 50px;
outline: none;
padding: 0px 10px;
width: 300px;

}
form  input[type="submit"] {
background-color: blue;
border: solid;
border-radius: 3px;

color: #f4f4f4;
cursor: pointer;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
height: 50px;
text-transform: uppercase;
width: 180px;
margin-left:15%;

}
form fieldset a {
color: red;
font-size: 10px;
}
form fieldset a:hover { text-decoration: underline; }

}
img{
top:100%
}

